body {
    background-color: pink;
}

.header {
    background-color: red;
    color: white;
    width: 100%;
    height: 10vh;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 30px;
    position: relative;
}
.return_btn {
    width: 50px;
    height: 50px;
    position: absolute;
    left:0;
    display: none;
    cursor: pointer;
}


.navigaton{
    width: 100%;
    height: 80vh;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card{
    width: 30%;
    height: 90%;
    opacity: .7;
}

.card:hover {
opacity: 1;
cursor: pointer;
}

.card img{ 
    width: 100%;
    height: 100%;
}

.container{
    width: 80%;
    height: 80vh;
    border: 1px solid black;
    border-radius: 5px;
    margin: 25px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    overflow-x: auto;
}

.images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 50%;

}

.item {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.item img {
    width: 210px;
    height: 210px;
}

.description {
    width: 50%;
    padding-right: 100px;
}

.more {
    position: absolute;
    bottom: 0;
    right: 5px;
    width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
